{% extends 'base.html' %}
{% block content %}
<h1>Edit Items</h1>
<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Author</td>
            <td><a href="{{ url_for('edit_author', id=author.id) }}" class="btn btn-warning">Edit Author</a></td>
        </tr>
        <tr>
            <td>Book</td>
            <td><a href="{{ url_for('edit_book', id=book.id) }}" class="btn btn-warning">Edit Book</a></td>
        </tr>
        <tr>
            <td>Genre</td>
            <td><a href="{{ url_for('edit_genre', id=genre.id) }}" class="btn btn-warning">Edit Genre</a></td>
        </tr>
    </tbody>
</table>
{% endblock %}
