{% extends 'base.html' %}
{% block content %}
<h1>Your Favorites</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for favorite in favorites %}
        <tr>
            <td>{{ favorite.B_title }}</td>
            <td>
                <a href="{{ url_for('remove_favorite', id=favorite.id) }}" class="btn btn-danger">Remove</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
